:root {
  --font-family: 'Unbounded', sans-serif;
  --second-family: 'Playfair Display', sans-serif;
  --third-family: 'Montserrat', sans-serif;
  --font3: 'Inter', sans-serif;

  /*  */
  --color-white: #fff;
  --color-gray: #f1f1f1;
  --color-gray-333: #333;
  --color-black: #000;
  --color-dark: #222;
}
